export SPARROW_MAIL_HOSTNAME=
export SPARROW_MAIL_USERNAME=
export SPARROW_MAIL_PORT=
export SPARROW_MAIL_PASSWORD=
export SPARROW_MAIL_DESTINATION=
export SPARROW_WEBSITE=
export SPARROW_STATUS_CODE=
